<div class="container">
  <ng-container *ngIf="isLogin; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>

    <input id="file1" accept=".xlsx,xls" name="file1" type="file" hidden (change)="fileChangeEvent($event)">
    <button (click)="link()" type="button" class="btn btn-outline-primary">
      Subir
      <i class="fas fa-cloud-upload-alt"></i>
    </button>
    <span *ngIf="typeFile">
      <h5>
        <b>Nombre de Hoja</b> {{nameFile}}
      </h5>
      <h5>
        <b>Tipo</b> {{typeFile}}
      </h5>
    </span>
  </ng-template>
  <ng-template #elseTemplate>
    <div class="w-25">
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" #user placeholder="Usuario">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" #password placeholder="Password">
      </div>
      <button class="btn btn-primary" (click)="getToken(user.value, password.value)">Ingresar</button>
    </div>

  </ng-template>




</div>